<!DOCTYPE html>
<html lang="en" ng-app="LearningAngular">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Learning AngularJs</title>

    <!-- Bootstrap -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- AngularJs 1.5.8 -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    
    <!-- Application -->
    <script src="js/app.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <style type="text/css">
  .completed {
    color: green;
  }
  .not-completed {
    color: red;
  }
  </style>
  <body ng-controller="MainController">
    <!-- <h1>{{greeting}}</h1>
    
    <div class="form-group">
        <input type="text" class="form-control" ng-model="greeting">
    </div>

    <div ng-repeat="value in tasks">
        <div ng-class="value.isCompleted ? 'completed' : 'not-completed'">{{value.name}}</div>
        <button ng-click="markTaskComplete(value)">Mark as complete</button>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" ng-model="task">
        <button ng-click="addTask();">Add Task</button>
    </div> -->

    <div ng-repeat="plan in plans">
      <h2>{{plan.name}}</h2>
      <p ng-repeat="feature in plan.feature_texts.se">{{feature}}</p>
    </div>

    <ui-view></ui-view>
  </body>
</html>